.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.inner {
    height: 100%;
    padding: 0 var(--default-layout-horizontal-space);
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    display: flex;
}
//Action
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}
.action-btn {
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.badge {
    position: relative;
    top: -20px;
    right: 3px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
